---
import Card from "./Card/index.astro";
import Button from "./Button.astro";
import {LINKS, WELCOME, METADATA} from "../lib/constants";
import {Icon} from 'astro-icon/components';
import ThemeSwitcher from "./ThemeSwitcher.svelte";
import {Image} from "astro:assets";
import portfolioImage from '../assets/me.webp'
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-4">
    <div class="flex w-full h-full justify-between md:pr-8">
        <div class="flex flex-col justify-between md:max-h-[300px] gap-4">
            <div class="flex flex-col h-full">
                <h6 class="text-sm font-light m-0 text-[var(--text)]">welcome</h6>
                {WELCOME.description.map((item, index) => (<h1 class="m-0 font-light text-xl">{item}</h1>))}
            </div>
            <div class="button-grid">
                <ThemeSwitcher client:load/>
                {LINKS.map(({link, logo, name}) => (<a href={link} aria-label={name} target="_blank" key={name}>
                    <Button aria-label={name}>
                        <Icon name={logo} class="h-6"/>
                        <span class="sr-only">{name} Profile</span>
                    </Button>
                </a>))}
            </div>
        </div>
        <div class="flex items-center justify-center p-4">
            <Image
                    src={portfolioImage}
                    alt={`${METADATA.name}`}
                    width="275"
                    height="275"
                    sizes="(max-width: 415px) 275px, (min-width: 416px) and (max-width: 1024px) 415px, 550px"
                    format="webp"
                    class="w-auto max-h-[415px] select-none absolute right-[-50px] top-1/2 transform -translate-y-1/2 z-[-1] opacity-70 md:opacity-100 md:relative md:right-auto md:top-auto md:transform-none md:z-auto pointer-events-none md:shadow-[10px_10px_0_var(--shadow)] rounded-[8px]"
                    loading="eager"
            />
        </div>
    </div>
</Card>
