---
import {METADATA, LINKS, CAREER} from "../lib/constants";

interface Props {
    title: string;
    description: string;
}

const {title, description} = Astro.props;
const image = `${Astro.url.origin}/preview.jpg`;

const schema = {
    "@context": "http://schema.org",
    "@type": "Person",
    name: METADATA.name,
    url: METADATA.site_url,
    sameAs: [LINKS.map(item => item.link)],
    image: METADATA.image_url,
    jobTitle: CAREER.at(0).job_name,
    worksFor: {
        "@type": "Organization", name: CAREER.at(0).job_name, address: {
            "@type": "PostalAddress",
            addressLocality: METADATA.address_locality,
            addressCountry: METADATA.address_country,
        },
    },
    nationality: {
        "@type": "Country", name: METADATA.address_locality,
    },
};
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
    <meta name="description" content={description}/>
    <meta name="robots" content="/favicon/sitemap-index.xml"/>
    <!-- Basic OG tags for sharing your website's content on platforms like Facebook and LinkedIn -->
    <meta property="og:title" content={title}/>
    <meta property="og:description" content={description}/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content={Astro.url.origin}/>
    <meta
            property="og:image"
            content={image || METADATA.image_url}
    />
    <!-- Basic Twitter Card tags -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content={title}/>
    <meta name="twitter:description" content={description}/>
    <meta
            name="twitter:image"
            content={image || METADATA.image_url}
    />
    <script type="application/ld+json" set:html={JSON.stringify(schema)}/>
    <script defer src="https://analytics.us.umami.is/script.js" data-website-id={import.meta.env.UMAMI_ID}></script>
    <link rel="sitemap" href="/sitemap-index.xml"/>
</head>
<body
        class="bg-[var(--background)] md:h-screen flex flex-col justify-center items-center"
>
<slot name="loader"/>
<slot/>
</body>
</html>

<style is:global>
    body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen", Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        background-color: var(--background);
        color: var(--text);
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen", Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;
    }

    p {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen", Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;
    }

    b {
        font-weight: 700 !important;
    }

    /* Theme Variables */
    :root[data-theme='light'] {
        --background: #FAFAFA; /* grey-50 */
        --card-background: #F5F5F5; /* grey-100 */
        --card-border: #E5E5E5; /* grey-200 */
        --shadow: #EC7981; /* primary-300 */
        --accent: #F3A3AA; /* primary-200 */
        --text: #0B0B0B; /* darkslate-900 */
    }

    :root[data-theme='dark'] {
        --background: #111111; /* darkslate-700 */
        --card-background: #171717; /* darkslate-500 */
        --card-border: #2C2C2C; /* darkslate-100 */
        --shadow: #F3A3AA; /* primary-200 */
        --accent: #F9CDD3; /* primary-100 */
        --text: #FAFAFA; /* grey-50 */
    }

    .button-grid {
        display: grid;
        grid-template-columns: repeat(4, auto); /* Auto width for buttons */
        justify-content: start; /* Left align the grid */
    }

    @media (max-width: 640px) {
        .button-grid {
            grid-template-columns: repeat(3, auto); /* Maintain four buttons per row on smaller screens */
        }
    }

    @media (max-width: 400px) {
        .button-grid {
            grid-template-columns: repeat(3, auto); /* Switch to three buttons per row on very small screens */
        }
    }
</style>
