---
import {METADATA, LINKS, CAREER} from "../lib/constants";

interface Props {
    title: string;
    description: string;
    slug?: string | undefined;
    frontmatter?: {
        file: string; url: string | undefined;
    } & {
        title: string; description: string;
    };
}

const {title, description, page, slug, frontmatter} = Astro.props;
const image = `${Astro.url.origin}/preview.jpg`;

const schema = {
    "@context": "http://schema.org",
    "@type": "Person",
    name: METADATA.name,
    url: METADATA.site_url,
    sameAs: [LINKS.map(item => item.link)],
    image: METADATA.image_url,
    jobTitle: CAREER.at(0).job_name,
    worksFor: {
        "@type": "Organization", name: CAREER.at(0).job_name, address: {
            "@type": "PostalAddress",
            addressLocality: METADATA.address_locality,
            addressCountry: METADATA.address_country,
        },
    },
    nationality: {
        "@type": "Country", name: METADATA.address_locality,
    },
};
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
    <meta name="description" content={description}/>
    <meta name="robots" content="/favicon/sitemap-index.xml"/>
    <!-- Basic OG tags for sharing your website's content on platforms like Facebook and LinkedIn -->
    <meta property="og:title" content={title}/>
    <meta property="og:description" content={description}/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content={Astro.url.origin}/>
    <meta
            property="og:image"
            content={image || METADATA.image_url}
    />
    <!-- Basic Twitter Card tags -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content={title}/>
    <meta name="twitter:description" content={description}/>
    <meta
            name="twitter:image"
            content={image || METADATA.image_url}
    />

    <link rel="preconnect" href="https://cdn.fontshare.com"/>
    <script type="application/ld+json" set:html={JSON.stringify(schema)}/>
    <script defer src="https://analytics.us.umami.is/script.js" data-website-id={import.meta.env.UMAMI_ID}></script>
    <link rel="sitemap" href="/sitemap-index.xml"/>
    <meta http-equiv="Content-Security-Policy"
          content="default-src 'self'; script-src 'self' 'unsafe-inline' https://analytics.us.umami.is; style-src 'self' 'unsafe-inline'; img-src 'self' data:; font-src 'self' https://cdn.fontshare.com; connect-src 'self' https://api-gateway.umami.dev;">
</head>
<body
        class="bg-darkslate-700 md:h-screen flex flex-col justify-center items-center"
>
<slot name="loader"/>
<slot/>
</body>
</html>

<style is:global>
    @font-face {
        font-family: "CabinetGrotesk";
        src: url("/fonts/CabinetGrotesk-Variable.ttf") format("truetype-variations");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
        font-weight: 100 1000;
    }

    @font-face {
        font-family: "Satoshi";
        src: url("/fonts/Satoshi-Variable.ttf") format("truetype-variations");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
        font-weight: 100 1000;
    }

    body {
        margin: 0;
        font-family: "Satoshi", sans-serif;
        -webkit-font-smoothing: antialiased;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Cabinet Grotesk", sans-serif;
    }

    p {
        font-family: "Satoshi";
    }

    b {
        font-weight: 700 !important;
    }

    .shadow-border {
        box-shadow: 10px 10px 0 #E8A7AB;
        border-radius: 8px;
    }
</style>
